version: "3.9"

services:
  mongo:
    image: mongo:7
    container_name: music-mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  server:
    build: ./server
    container_name: music-server
    restart: always
    ports:
      - "5000:5000"
    env_file:
      - ./server/src/.env
    depends_on:
      - mongo
    volumes:
      - ./server:/app
      - /app/node_modules

  client:
    build: ./client
    container_name: music-client
    restart: always
    ports:
      - "5173:5173"
    depends_on:
      - server
    volumes:
      - ./client:/app
      - /app/node_modules

volumes:
  mongo_data:
